---
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/global.css";
---
<BasicLayout pageTitle="Blog">
    <h2>블로그 리스트를 만들어야 한다.</h2>
    <ul>
        <li><a href="/docs/docs-1/">docs 1</a></li>
        <li><a href="/docs/docs-2/">docs 2</a></li>
        <li><a href="/docs/docs-3/">docs 3</a></li>
    </ul>
</BasicLayout>