---
import "../styles/global.css";
import BasicLayout from "../layouts/BasicLayout.astro";

const pageTitle = "About Me";
---
<BasicLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BasicLayout>
