---
import Navigation from "./Navigation.astro";
import Hamberger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
    <nav>
        <Hamberger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>